@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');
*{
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: black;
    /* border: 2px solid red; */
}
html{
    font-size: 1rem;
}

/* HEADER */

header{
    display: flex;
    height: 20vh;
    width: 100%;
    padding: 5em;
    justify-content: space-between;
    align-items: center;
}
header i.fa-solid{
    display: none;
}
header nav ul{
    display: flex;
    width: 40vw;
    justify-content: space-around;
}
header nav ul li{
    list-style-type: none;
    
}
header nav ul li a{
    text-decoration: none;
    color: #242E52
}
/* BOTONES */

.button{
    border-radius: 2rem;
    background-color: rgb(242, 95, 58);
    color: white;
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}
.buttonWhite{
    border-radius: 2rem;
    background-color: rgb(249, 249, 249);
    color: rgb(242, 95, 58);
    padding: 15px 30px;
    border: none;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

/* MAIN */


main section{
    display: flex;
    margin: 2%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
}
main section article{
    height: 40vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 4%;
}
h2, h3, h4, h5 ,h6{
    color: #242E52;
    font-weight: bold;
}
h2{
    font-size: 3rem;
    
}
main section.secondSection article.bulletsConteiner p, main section.third div.cardsConteiner article.cards p{
    color: #B3B2B7;
    font-weight: 300;
}
h3{
    font-size: 2.5rem;
    
}
main section div.graficas img{
    width: 100%;
}
main section article.second{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
main article.bulletsConteiner div h4{
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 2em;
    right: 60px;
    position: relative;
}
h4.bullet1::before{
    content: "01";
    display: inline-block;
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    padding: 13px 0px;
    width: 60px;
    right: 40px;
    text-align: center;
    position: relative;
}
h4.bullet2::before{
    content: "02";
    display: inline-block;
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    padding: 13px 0px;
    width: 60px;
    right: 40px;
    text-align: center;
    position: relative;
}
h4.bullet3::before{
    content: "03";
    display: inline-block;
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    padding: 13px 0px;
    width: 60px;
    right: 40px;
    text-align: center;
    position: relative;
}
main section.third{
    display: flex;
    flex-direction: column;
    margin: 4% 0px;
}
main section.third div.cardsConteiner{
    display: flex;

}
main section.third div.cardsConteiner article.cards{
    display: flex;
    flex-direction: column;
    margin: 7% 1%;
    align-items: center;
    background-color: rgb(249, 249, 249);
    height: 20vh;
    padding: 0px 50px;
}
main .third .cardsConteiner .cards img{
    position: relative;
    bottom: .7em;
    height: 30%;
}
main .third .cardsConteiner .cards p{
    text-align: center;
    margin: 1em;
}
main section.third div.cardNav{
    display: none;
}
main div.bannerFooter{
    background-color: rgb(242, 95, 58);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding: 5% 7%;
}
main div.bannerFooter h6{
    color: white;
    font-size: 2rem;
    width: 30vw;
}

/* FOOTER */

footer p.mobile {
    display: none;
}
footer{
    background-color: rgb(29, 30, 37);
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 5%;
    height: 30vh;
}
footer div.logoIcons div.icons a i{
    margin: 5px;
    color: white;
    font-size: 1.5rem;
}
footer div.footerLinks{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
footer div ul li{
    list-style-type: none;
    padding: 10px;
}
footer div ul li a{
    color:rgb(249, 249, 249);
    text-decoration: none;
}
footer div.logoIcons img.logo{
    height: 4vh;
}
footer div.logoIcons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    margin-left: 50px;
}
footer div form label{
    display: none;
}
footer div.formCopy input{
    border-radius: 2rem;
    height: 5vh;
    width: 15vw;
    color: rgb(242, 95, 58);
    padding-left: 15px;

}
footer div.formCopy button{
    background-color: rgb(242, 95, 58);
    color: rgb(249, 249, 249);
    border-radius: 1.5rem;
    border: none;
    padding: 13px 0px;
    width: 60px;
}
footer div.formCopy{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20vh;
    margin-right: 50px;
}
footer div.formCopy p{
    color: rgb(143, 148, 167);
    font-size: .8rem;
    align-self: flex-end;
}

/* SELECTORS */


.button:hover{
    color: rgb(255, 239, 234);
    background-color: rgb(232, 143, 121);
    box-shadow: 0 4px 8px 0 rgb(232, 143, 121);
}
.buttonWhite:hover{
    color: rgb(232, 143, 121);
    background-color: rgb(249, 249, 249);
}
a:hover{
    color: rgb(143, 148, 167)
}
footer a:hover{
    color: rgb(242, 95, 58);
}
footer div.logoIcons div.icons a i:hover{
    color: rgb(242, 95, 58);
}


/* QUERIES */


@media (max-width: 1040px) {
    header{
        justify-content: space-between;
        align-items: center;
        padding:10%;
        width: 100%;
    }
    header nav{
        display: none;
    }
    header a.button{
        display: none;
    }
    header i.fa-solid{
        display: inline-block;
        font-size: 2rem;   
    }
    html{
        font-size: .8rem;
    }
    main{
        justify-content: space-between;
        align-items: center;
    }
    main section{
        flex-direction: column;
        justify-content: space-around;
        margin: 9%;
        /* height: 100%; */
        align-items: center;
    }
    main section article{
        width: 100%;
        /* height: 100%; */
        margin: 1%;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    main section.firstSection{
        flex-direction: column-reverse;
        /* height: 50vh; */

    }
    main section.firstSection article{
        height: 30vh;
        margin: 10% 0px;
        justify-content: space-around;
    
    }
    main section.firstSection article h2{
        font-size: 2.5rem;
        padding: 0%;
    }
    main section.firstSection article p{
        font-size: 1rem;
        text-align: justify;

    }
    main section.secondSection article.second{
        height: 100%;
        margin-bottom: 40%;
    }
    main section.secondSection article.second p{
        padding-top: 5%;
    }
    main section.secondSection article.bulletsConteiner{
        /* padding: 40% 0px; */
        margin-bottom: 40%;
        height: 90vh;
        justify-content: space-around;
    }
    main section.secondSection article.bulletsConteiner div.bullets p{
        margin-top: 10%;
    }
    main section.secondSection article.bulletsConteiner div h4{
        background-color: rgb(255, 239, 234);
        margin: 0%;
        padding: 0%;
        text-align: start;
        position: initial;
        margin-left: 20px;
        /* width: 90vw; */
    }
    main section.secondSection article.bulletsConteiner div p{
        text-align: justify;
    }
    main section.third{
        flex-direction: column;
        justify-content: space-around;
    }
    main section.third div.cardsConteiner article.cards{
        margin-top: 20%;
        padding: 2%;
        
    }
    main section.third div.cardsConteiner #card1{
        display: none;
    }
    main section.third div.cardsConteiner article.cards h5{
        font-size: 1.5rem;

    }
    main section.third div.cardsConteiner article.cards img{
        height: 40%;
    }
    main section.third div.cardNav p.whiteDot{
        background-color: white;
        border: 1px solid rgb(242, 95, 58);
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-bottom: 50px;
        
    }
    main section.third div.cardNav p.redDot{
        background-color: rgb(242, 95, 58);
        border: 1px solid rgb(242, 95, 58);
        border-radius: 50%;
        height: 9px;
        width: 9px;
        margin-bottom: 50px;
        
    }
    main section.third div.cardNav{
        display: flex;
        width: 50px;
        justify-content: space-around;
    }
    main section.third div.cardNav{
        display: flex;

    }

    main div.bannerFooter{
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        text-align: center;
        margin-top: 20%;
        padding: 20% 0px;
        width: 100%;

    }
    main div.bannerFooter h6{
        font-size: 2.5rem;
        width: 100%;
        margin-bottom: 20%;
    }
    footer{
        flex-direction: column-reverse;
        height: 99%;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 5% 2%;
    }
    footer div.logoIcons{
        flex-direction: column-reverse;
        margin: 0%;
    }
    footer div.logoIcons div.icons{
        width: 100vw;
    }
    footer div.logoIcons div.icons a i{
        font-size: 3rem;
        padding: 3%;
    }
    footer div.footerLinks{
        align-items: center;
        width: 100%;
    }
    footer div.formCopy{
        flex-wrap: nowrap;
        margin: 0%;
        width: 90%;
    }
    footer div.formCopy form input{
        width: 80%;
        /* margin: 1%; */
    }
    footer p.desktop{
        display: none;
    }
    footer p.mobile{
        display: inline-block;
        align-self: center;
        order: -1;
        font-size: .7rem;
        margin-top: 10%;
    }
    
}
@media (max-width:1200px) {
    main section.third div.cardsConteiner #card2{
        display: none;
    }
}